.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  background:url("/Images/background@6d.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#docbar{
  background:"#ffffff"; 
  box-shadow: "none";
  height:"70px";
}

.login-part{
  width: 500px;
  height: auto;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 30px 50px;
  margin-top: 40px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
  background: rgba(255, 255, 255, 0.1);
}

.login-text{
  height: 30px;
  background: none;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.label{
  font-size: 14px;
    float: left;
}

.input{
    height: 50px !important;
    width: 400px !important;
}

.login{
  height: 50px;	
  width: 400px;
  color: #FFFFFF;	
  font-size: 18px;	
  font-weight: bold;	
  line-height: 30px;	
  text-align: center;
}

/* .checkbox{
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: #586DFF;
} */

.App-link {
  color: #61dafb;
}

.app-bar{
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.headers{
  padding: 10px 5px 10px !important;
}

.dashboardlogo{
  height: 40px;
}

.app-bar-button{
  padding-top: 10px;
}
 
.menu-title{
  font-size: 20px;
  padding-left: 10px;
  margin: 0px;
}

.app-bar-icons{
  float: right;
}

.notification{
  padding-right: 40px;
}

.menu-list{
  padding: 0px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.list-item{
  border-radius: 0px !important;
  border-right: 0px !important;
}

.primary{
  float: right;
  position: absolute;
  right: 0px;
  height: 70px;
  width: 120px;
  border-radius: 0px !important;
}

.main-dashboard{
  display: flex;
  /* height: 100%; */
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.main-char-div{
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  /* background: #adb5bd63; */
}

.chart-div{
  display: flex;
  padding-top: 10px;
}

.bar-chart{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  padding-right: 0px !important;
  margin-left: -4px;
}

.doughnut-chart{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  padding-left: 0px;
  margin-left: 8px;
}

figure {
  width: 600px;
  background-repeat: no-repeat;
}

figure:hover img {
  opacity: 0;
}

img {
  display: block;
  width: 100%;
  pointer-events: none;
}

.Sizenumber {
  border-radius: 5px;
  /* behavior: url(PIE.htc); */
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 5px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  margin-right: 10px;
  font: 20px Arial, sans-serif;
}

/* .area-chart{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0px;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
